<script>
    import React from 'react';
    import "./FootNav.css";
    import ctools from "ctools";
    const {getClass} = ctools;
    export default function(props){
        const {config,setIndex} = props;
        const { list, index,} = config;
        return (<div className="vuc-foot-nav">{
            list.map((item,i) => (<span key={i} className={getClass({active: index.x === i})} onClick={()=>setIndex(i)}>{item.name}</span>))
        }</div>)
    }
</script>
<style>
    .vuc-foot-nav{
        border-top: 1px solid #ffdb00;
        line-height: 2.25rem;
        display: flex;
        text-align: center;
    }
    .vuc-foot-nav>*{
        flex: 1;
        font-size: .6rem;
        transition: all .3s;
        text-shadow: 0 .1rem .1rem #141617;
        border-radius: 2rem;
    }
    .vuc-foot-nav>*.active{
        color: #ffdb00;
    }
    .vuc-foot-nav>*:active{
        border-radius: 0;
        color: #ffdb00;
        background-color: #141617;
    }

</style>
