.recmend-act{
  background-color: rgba(40,44,52,.95);
  border-radius: .8rem .8rem 0 0;
  font-size: .7rem;
}
.recmend-act>div{
  line-height: 2.5rem;
  padding: 0 .65rem;
  text-align: center;
  border-bottom: 1px solid #68b;
}
.recmend-act ul{
  max-height: 14rem;
  overflow: scroll;
}
.recmend-act li{
  line-height: 1.8rem;
  font-size: .65rem;
  background-color: transparent;
  transition: all .2s;
  border-bottom: 1px solid #346;
}
.recmend-act li:active{
  line-height: 1.8rem;
  font-size: .65rem;
  background-color: rgba(255,255,255,.5);
}
