html{
  font-size: 20px;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
#root{
  height: 100%;
  width: 100%;
}
.App{
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -webkit-box-orient:vertical;
}
*{
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  font-family: "思源黑体 CN";
  user-select: none;
  font-weight: normal;
}
*::-webkit-scrollbar{
  width: 0;
}
#audio{
  position: absolute;
  z-index: 100;
  right: 0;
  opacity: 0;
  width: 0;
  height: 0;
}
.vuc-scroll-wrap>.vuc-discover{
  flex: 1;
}
.vuc-discover{
  position: absolute;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
.vuc-discover>div{
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  font-size: 1rem;
}
