.vuc-popup{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
.vuc-popup.active{
  display: block;
}
.vuc-popup.show{
  display: block;
}
.vuc-popup>div{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  box-orient:vertical;
  transform: translateY(100%);
  opacity: 0;
  transition: all 1s;
}
.vuc-popup.active>div{
  transform: translateY(0%);
  opacity: 1;
}
.vuc-popup-up,
.vuc-popup-down{
  flex: 1;
}
.vuc-popup-content{
  position: relative;
}
