.vuc-header{
  position: relative;
  line-height: 2.5rem;
  text-align: center;
}
.vuc-header>div:nth-child(1){
  position: relative;
  background-color: #c75;
}
.vuc-header>div:nth-child(2),
.vuc-header>div:nth-child(3){
  position: absolute;
  top: 0;
}
.vuc-header>div:nth-child(2){
  left: 0;
}
.vuc-header>div:nth-child(3){
  right: 0;
}
